<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type='text/javascript' src='http://www.google.com/jsapi'></script>
        <script src="@routes.Assets.at("javascripts/code.js")" type="text/javascript"></script>



    </head>
    <body>
        
        Displays John Bogle's <a href="http://www.vanguard.com/bogle_site/sp20020626.html">Telltale chart</a> for two securities. List the fund/stock to examine first, and the benchmark fund second.

        <form>
            <input type="text" id="compare"  size="6" /> vs <input type="text" id="base" size="6"/>     <button type="submit" id="loadStuff">Load Comparison</button>


        </form>


        <div id="chart_div" style="width:800px; height:600px"></div>.

    </body>
</html>